.main-nav {
  margin-bottom: 0px;
}
.panel-inprogress .panel-heading {
  background-color: #86bc40;
}
.panel-review .panel-heading {
  background-color: #fb7653;
}
.panel-waiting .panel-heading {
  background-color: #65a6ff;
}
.panel-heading .panel-title {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.lists {
  margin-top: 0px;
}
.main_title {
  margin-bottom: 10px;
}
.profile-picture {
  right: 0;
  position: absolute;
}
.content {
  margin-top: 5px;
  padding-bottom: 10px;
}
.content-layout {
  position: relative;
}
.add-layout {
  padding-top: 15px;
  margin-top: 5px;
}
.add_waiting {
  background-color: #72AF47;
  border:none;
}